.pn-noise-image {
    --cover-img-url: url(https://i.ytimg.com/vi/66IXiG2Pj1I/maxresdefault.jpg);
}

.pn-noise-image {
    background-image: var(--cover-img-url);
    background-size: cover;
    height: 20rem;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.pn-header {
    color: #E6F5FF;
    font-family: "Lobster", "sans-serif";
    letter-spacing: 1vw;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 0% 50%;
}

.pn-header .pn-lead {
    font-weight: bold;
    font-family: "Benne", "sans-serif";
    color: rgb(255, 227, 103);
    letter-spacing: 0.3vw;
}