.pn-noise-image {
    /* --cover-img-url: url(https://i.ytimg.com/vi/66IXiG2Pj1I/maxresdefault.jpg); */
    --cover-img-url: url(./assets/maxresdefault.jpg);
}

/* Background image */
.pn-noise-image {
    background-image: var(--cover-img-url);
    background-size: cover;
    height: 20rem;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

/* Heading and transition */
.pn-header {
    padding: 1%;
    color: #E6F5FF;
    font-family: "Lobster", "sans-serif";
    letter-spacing: 1vw;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 0% 50%;
    -webkit-transition: background-color 1s, border-radius 0.7s;
    transition: background-color 1s, border-radius 0.7s;
}
.pn-header:hover {
    background-color: rgb(1, 87, 87);
    border-radius: 50% 0%;
}

/* Header lead */
.pn-header .pn-lead {
    font-weight: bold;
    font-family: "Benne", "sans-serif";
    color: rgb(255, 227, 103);
    letter-spacing: 0.3vw;
}

/* Topic heading */
.pn-topic-header {
    font-weight: bold;
    font-family: "Benne", "sans-serif";
    color: rgb(255, 227, 103);
    letter-spacing: 0.3vw;
    font-size: 2rem;
}

.hr-style {
    width: 70%;
    margin: 0 auto;
	height: 5px;
    border: 0;
	box-shadow: 0 10px 10px -10px #b4b4b4ce inset;
}

/* For blog topics seperation */
.liner {
    display: flex;
    align-items: flex-start;
    text-align: left;
}
.liner:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #f3ec8a;
    min-width: 20px;
    margin: auto;
}
.liner:after {
    margin-left: 20px;
}

.para-content {
    font-family: "Benne", "sans-serif";
    font-style: bold;
    font-size: 1.5rem;
    letter-spacing: 0.08vw;
}

.wood-img {
    width: 70%;
    height: auto;
}

.wood-img-footer {
    font-family: "Benne", "sans-serif";
    font-style: bolder;
    font-size: 1rem;
    color: #E6F5FF;
}

.bold-text {
    font-style: bolder;
}

.pn-visual-img {
    width: 100%;
    height: auto;
}

.bq {
    color: rgb(146, 204, 204);
    padding: 1rem;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    font-size: 1.2rem;
    letter-spacing: 0.08vw;
    border-left: 0.3rem solid grey;
    border-right: 0.3rem solid grey;
    border-radius: 1rem 1rem;
}

.pn-list {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: none;
}

/* For backtick code, like in markdown files */
.backtick-code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(116, 116, 116, 0.56);
}

.codefield-shell {
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    background-color: rgba(149, 149, 149, 0.438);
    border-radius: 0.3rem;
}
.codefield-shell .shell-prompt {
    color: cyan;
}
.codefield-shell .shell-cmd {
    color: cyan;
}

.codefield-cpp {
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    background-color: rgba(149, 149, 149, 0.438);
    border-radius: 0.3rem;
}
.codefield-cpp .cpp-inc {
    color: cyan;
}
.codefield-cpp .cpp-comments {
    color: orange;
}
.codefield-cpp .cpp-dt {
    color: #E43F5A;
}

.codefield-container .lan-id {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1vw;
    color: rgb(146, 204, 204);
}
.codefield-container:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 1%;
    border-bottom: 2px solid;
    color: grey;

    transition: width 0.7s, color 0.7s, border-radius 0.5s;
}
.codefield-container:hover:after {
    width: 50%;
    border-radius: 10rem;
    color: rgb(146, 204, 204);
}